.sidebar {
    background-color: #c9fbf6;
}

.sidebar-menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar-menu > div {
    width: 100px;
    padding-left: 8px;
    text-align: left;
}

@media all and (max-width: 800px) {
    .sidebar-menu > div {
        display: none;
    }
}